<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>4_Jsp</display-name>
  <servlet>
    <description></description>
    <display-name>InsertUserController</display-name>
    <servlet-name>InsertUserController</servlet-name>
    <servlet-class>com.my.controller.InsertUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserController</servlet-name>
    <url-pattern>/insertUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalcController</display-name>
    <servlet-name>CalcController</servlet-name>
    <servlet-class>com.my.controller.CalcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcController</servlet-name>
    <url-pattern>/calc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.my.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncoding</display-name>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>com.my.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>