<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>6_board</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>com.my.web.servlet.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/listBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBoardServlet</display-name>
    <servlet-name>AddBoardServlet</servlet-name>
    <servlet-class>com.my.web.servlet.AddBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBoardServlet</servlet-name>
    <url-pattern>/addBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBoardServlet</display-name>
    <servlet-name>GetBoardServlet</servlet-name>
    <servlet-class>com.my.web.servlet.GetBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBoardServlet</servlet-name>
    <url-pattern>/getBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBoardServlet</display-name>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <servlet-class>com.my.web.servlet.DeleteBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBoardServlet</servlet-name>
    <url-pattern>/deleteBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBoardServlet</display-name>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <servlet-class>com.my.web.servlet.UpdateBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBoardServlet</servlet-name>
    <url-pattern>/updateBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.my.web.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/insertUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.my.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.my.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  
  <error-page>
     <exception-type>java.lang.Throwable</exception-type>
     <location>/error/error.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/404_error.jsp</location>
  </error-page>
  
</web-app>