<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="samsung" class="tv.step2.SamsungTV" lazy-init="true" init-method="init" scope="singleton"></bean>
	<bean id="lg" class="tv.step2.LgTV"></bean>
	
	<!-- <bean id="now" class="java.util.Calendar" factory-method="getInstance"></bean> -->
	<bean id="sample" class="tv.step2.SampleBean" factory-method="getInstance"></bean>
</beans>
