<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="apple" class="tv.step4.AppleSpeaker"></bean>
	<bean id="speaker" class="tv.step4.SonySpeaker"></bean>
	<!-- <bean id="sony" class="tv.step4.SonySpeaker"></bean>
	byName을 사용하려면 LgTV에서 스피커를 담고있는 객체 이름과 동일해야 바인딩이 가능한 것-->

	<bean id="lg" class="tv.step4.LgTV" autowire="byName"></bean>
	<bean id="samsung" class="tv.step4.SamsungTV" autowire="byName"></bean>

</beans>
